<div class="container">

<h3 class="text-center">Contact us</h3><br />

<div class="row">
  <div class="col-md-8">
      <form action="/post" method="post">
        <input class="form-control" name="name" placeholder="Name..." /><br />
        <input class="form-control" name="phone" placeholder="Phone..." /><br />
        <input class="form-control" name="email" placeholder="E-mail..." /><br />
        <textarea class="form-control" name="text" placeholder="your message?" style="height:150px;"></textarea><br />
        <input class="btn btn-primary" type="submit" value="Send" /><br /><br />
      </form>
  </div>
  <div class="col-md-4">
    <b>Contact me on:</b> <br />
	<i class="fa fa-map"></i>&nbsp; KK 318 Kigali,Rwanda<br/>
    <i class="fa fa-phone"></i>&nbsp; +250 782 390 919<br />
    <i class="fa fa-envelope"></i>&nbsp; <a href="mailto:kabosierik@gmail.com">kabosierik@gmail.com</a><br />


  </div>
</div>

</div>
