<section class="section" id="#about">
<div class="container">
<h3 class="text-center">About</h3><br />
<div class="row">
    <div class="col-md-6">
      <img src="assets/image/myphoto.jpg" alt="..." class="profile center">
    </div>
    <div class="col-md-6">
      <p>Experienced Information Technology Manager with a demonstrated history of working in the information technology and services industry.</p>
	  <p>Skilled in Business Planning, Information Technology, Networking, IT Management, and Software Development.</p>
	  <p>Strong information technology professional with a Bachelor's degree focused in computer science from college of science and technology .</p>
    </div>
  </div>

</div>
</section>
