<div class="box">
    <div class="container">
	<div class="page-heading text-center">
                                <h1>License & Certificates</h1>
                                <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. <br/>Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                            </div>
     	<div class="row">
			<div class="col-lg-4 col-12 text-center">
                <div class="box-column">
                    <div class="box-top twitter">
                        <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="box-bottom">
                        <div class="box-title twitter-title">
					    	Python Data structures
					    </div>
						<div class="box-text">
Issuing authority University of Michigan

Issued date and, if applicable, expiration date of the certification or licenseIssued Jan 2021No Expiration Date

See credential
						</div>
						<a href="https://www.coursera.org/account/accomplishments/verify/R38RJH29NBEU?utm_source%3Dandroid%26utm_medium%3Dcertificate%26utm_content%3Dcert_image%26utm_campaign%3Dsharing_cta%26utm_product%3Dcoursehttps://www.linkedin.com/company/university-of-michigan/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BX0YQ0YZgSMWBAfkl1TbvbQ%3D%3D&licu=urn%3Ali%3Acontrol%3Ad_flagship3_profile_view_base-background_details_certification" target="_blank">See credential</a>
                    </div>
				 </div>
			</div>
			
		    <div class="col-lg-4 col-12 text-center">
                <div class="box-column">
                    <div class="box-top instagram">
                        <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="box-bottom">
                        <div class="box-title instagram-title">
					    	Front-End JavaScript Frameworks: Angular
					    </div>
						<div class="box-text">
Issuing authorityThe Hong Kong University of Science and Technology

Issued date and, if applicable, expiration date of the certification or licenseIssued Nov 2020No Expiration Date
						</div>
						<a href="https://www.coursera.org/account/accomplishments/verify/QVQ4TESGPZQC?utm_source=mobile&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=coursehttps://www.linkedin.com/company/hkust/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3B%2FwPx9%2FvMSMq415M6XhlQfQ%3D%3D&licu=urn%3Ali%3Acontrol%3Ad_flagship3_profile_view_base-background_details_certification" target="_blank">See credential</a>
                    </div>
				 </div>
			</div>	 
				 
			<div class="col-lg-4 col-12 text-center">
                <div class="box-column">
                    <div class="box-top facebook">
                        <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="box-bottom">
                        <div class="box-title facebook-title">
					       Facebook
					    </div>
				     	<div class="box-text">
						    Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.
						</div>
				    	<a href="#" target="_blank">GO NOW</a>
                    </div>
				 </div>
			</div>	 
		</div>		
    </div>
</div>
