<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Eric's Portfolio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <button class="btn btn-primary " type="button">Hire Me!</button>
    </div>
  </div>
</nav>

<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="fw-light">HI There</h1>
        <p class="lead">"I am a software developer,creative design and many more computer related areas."</p>
		
      
	  <button class="btn btn-primary" type="button"><i class="fa fa-download"></i>&nbsp;Download CV!</button>
	  <p>Scoll down for More details</p>
	  <i class="fa fa-chevron-down"></i>
      </div>
    </div>
  </div>
</header>

