<div class="container">
<h3 class="text-center">Education</h3><br />
	<div class="row">
        <div class="col-md-6">
            <div class="blockquote-box blockquote-primary clearfix" style="display: block;">
                <div class="square pull-left">
                    <i class="fa fa-calendar"></i> 2003 - 2009
                </div>
                <h2>Primary School</h2>
                <p class="text-justify box-p">
                    I did my primary at school called NewLife Christian Academy.
                </p>
            </div>
            <div class="blockquote-box blockquote-warning clearfix" style="display: block;">
                <div class="square pull-left">
                    <i class="fa fa-calendar"></i> 2016 - 2021
                </div>
                <h2>University</h2>
                <p class="text-justify box-p">
                    University of Rwanda - CST (College of Sciences and Technology), Faculty of Computer Sciences.
                </p>
            </div>

        </div>
        <div class="col-md-6">

                        <div class="blockquote-box blockquote-success clearfix" style="display: block;">
                            <div class="square pull-left">
                                <i class="fa fa-calendar"></i> 2010 - 2015
                            </div>
                            <h2>Secondary School</h2>
                            <p class="text-justify box-p">
                                I took Mathematics,Physics & Computer  and Entreprenuership was included.(MPC)
                            </p>
                        </div>

                        <div class="blockquote-box blockquote-danger clearfix" style="display: block;">
                            <div class="square pull-left">
                                <i class="fa fa-calendar"></i> 2021 - present
                            </div>
                            <h2>Post Graduate</h2>
                            <p class="text-justify box-p">
                                Planning to do a MBA in IT. Most probably It will be started in end of this year.
                            </p>
                        </div>
                    </div>
    </div>
</div>
