<div class="container">
<div class="page-heading text-center">
                                <h1>Experiences</h1>
                                <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. <br/>Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                            </div>
	<div class="row">
            <div class="items col-xs-12 col-sm-6 col-md-6 col-lg-6 clearfix">
               <div class="info-block block-info clearfix">
                    <div class="square-box pull-left">
                        <span class="glyphicon glyphicon-user glyphicon-lg"></span>
                    </div>
                    <h5>Company</h5>
                    <h4>Name:LOCAL ADMINISTRATIVE ENTITIES DEVELOPMENT AGENCY (LODA)</h4>
                    <p>Title: MIS Specialist & IT Manager intern</p>
                    <span>Phone: July,2019- October,2019</span>
                </div>
            </div>
            <div class="items col-xs-12 col-sm-12 col-md-6 col-lg-6">
               <div class="info-block block-info clearfix">
                    <div class="square-box pull-left">
                        <span class="glyphicon glyphicon-user glyphicon-lg"></span>
                    </div>
                    <h5>Company Name</h5>
                    <h4>Name: Glenn Pho shizzle</h4>
                    <p>Title: Manager</p>
                    <span>Phone: 555-555-5555</span>
                    <span>Email: sample@company.com</span>
                </div>
            </div>
        </div>
</div>
